<%-include('partials/header.ejs')%>
<section id="contact">
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, hic totam? Voluptas eveniet rem sapiente cumque repellat recusandae veritatis, ipsam dolores nobis quibusdam corporis consequuntur! Id porro repudiandae veniam quasi vel, delectus quia dignissimos possimus modi libero magni similique illum voluptates doloribus perspiciatis molestiae nihil vitae sequi ea, nisi sapiente.</p>
</section>
<%-include('partials/footer.ejs')%>